# Supervised learning

For this investigation I selected a database from the NASA Kepler space telescope, representing the change in light intensity of several observed stars. The label corresponds to whether a star has an orbiting exoplanet, while the features are the light intensity in different points in time.

## Importing and requirements

First, we will import our main libraries. The dataset is already split in training and test portions, so the train_test_split method is not necessary. The data is quite large, so it's being uncompressed before processing.

In [66]:
import pandas as pd
import numpy as np
from subprocess import call

call(['tar', 'xf', 'kepler-labelled-time-series-data.tar.gz'])
with open('./kepler-labelled-time-series-data/exoTrain.csv', 'r') as file_handle:
    df_train = pd.read_csv(file_handle)
    
with open('./kepler-labelled-time-series-data/exoTest.csv', 'r') as file_handle:
    df_test = pd.read_csv(file_handle)
    
call(['rm', '-rf', 'kepler-labelled-time-series-data/'])

0

In [84]:
exoplanets = df_train.loc[df_train['LABEL'] == 2]
noexoplanets = df_train.loc[df_train['LABEL'] == 1].sample(n=len(exoplanets)*10)
print(len(exoplanets))
print(len(noexoplanets))

#newdf = pd.DataFrame(exoplanets)
#newdf.shape()
newdf = pd.DataFrame(['a', '1'])
data = [('p1', 't1'), ('p2', 't2'), ('p2', 't2'), ('p2', 't2'), ('p2', 't2')]
df = pd.DataFrame(data)

37
370

TypeError: 'tuple' object is not callable

In [21]:
print(df_train.shape)
print(df_test.shape)
print(df_train.columns[df_train.isna().any()].tolist())
print(df_test.columns[df_train.isna().any()].tolist())

df_train_described =  df_train.describe()
print(df_train_described.loc['min',:].min())
print(df_train_described.loc['max',:].max())
print(df_train_described)
print(df_test.describe())

(5087, 3198)
(570, 3198)
[]
[]
-2385019.12
4299288.0
             LABEL        FLUX.1        FLUX.2        FLUX.3        FLUX.4  \
count  5087.000000  5.087000e+03  5.087000e+03  5.087000e+03  5.087000e+03
mean      1.007273  1.445054e+02  1.285778e+02  1.471348e+02  1.561512e+02
std       0.084982  2.150669e+04  2.179717e+04  2.191309e+04  2.223366e+04
min       1.000000 -2.278563e+05 -3.154408e+05 -2.840018e+05 -2.340069e+05
25%       1.000000 -4.234000e+01 -3.952000e+01 -3.850500e+01 -3.505000e+01
50%       1.000000 -7.100000e-01 -8.900000e-01 -7.400000e-01 -4.000000e-01
75%       1.000000  4.825500e+01  4.428500e+01  4.232500e+01  3.976500e+01
max       2.000000  1.439240e+06  1.453319e+06  1.468429e+06  1.495750e+06

             FLUX.5        FLUX.6        FLUX.7        FLUX.8        FLUX.9  \
count  5.087000e+03  5.087000e+03  5.087000e+03  5.087000e+03  5.087000e+03
mean   1.561477e+02  1.469646e+02  1.168380e+02  1.144983e+02  1.228639e+02
std    2.308448e+04  2.410567e+04  2.414109e+04  2.290691e+04  2.102681e+04
min   -4.231956e+05 -5.975521e+05 -6.724046e+05 -5.790136e+05 -3.973882e+05
25%   -3.195500e+01 -3.338000e+01 -2.813000e+01 -2.784000e+01 -2.683500e+01
50%   -6.100000e-01 -1.030000e+00 -8.700000e-01 -6.600000e-01 -5.600000e-01
75%    3.975000e+01  3.514000e+01  3.406000e+01  3.170000e+01  3.045500e+01
max    1.510937e+06  1.508152e+06  1.465743e+06  1.416827e+06  1.342888e+06

       ...     FLUX.3188     FLUX.3189     FLUX.3190     FLUX.3191  \
count  ...  5.087000e+03  5.087000e+03  5.087000e+03  5.087000e+03
mean   ...  3.485578e+02  4.956476e+02  6.711211e+02  7.468790e+02
std    ...  2.864786e+04  3.551876e+04  4.349963e+04  4.981375e+04
min    ... -3.240480e+05 -3.045540e+05 -2.933140e+05 -2.838420e+05
25%    ... -1.760000e+01 -1.948500e+01 -1.757000e+01 -2.076000e+01
50%    ...  2.600000e+00  2.680000e+00  3.050000e+00  3.590000e+00
75%    ...  2.211000e+01  2.235000e+01  2.639500e+01  2.909000e+01
max    ...  1.779338e+06  2.379227e+06  2.992070e+06  3.434973e+06

          FLUX.3192     FLUX.3193      FLUX.3194      FLUX.3195  \
count  5.087000e+03  5.087000e+03    5087.000000    5087.000000
mean   6.937372e+02  6.553031e+02    -494.784966    -544.594264
std    5.087103e+04  5.339979e+04   17844.469520   17722.339334
min   -3.288214e+05 -5.028894e+05 -775322.000000 -732006.000000
25%   -2.226000e+01 -2.440500e+01     -26.760000     -24.065000
50%    3.230000e+00  3.500000e+00      -0.680000       0.360000
75%    2.780000e+01  3.085500e+01      18.175000      18.770000
max    3.481220e+06  3.616292e+06  288607.500000  215972.000000

           FLUX.3196      FLUX.3197
count    5087.000000    5087.000000
mean     -440.239100    -300.536399
std     16273.406292   14459.795577
min   -700992.000000 -643170.000000
25%       -21.135000     -19.820000
50%         0.900000       1.430000
75%        19.465000      20.280000
max    207590.000000  211302.000000

[8 rows x 3198 columns]
            LABEL         FLUX.1         FLUX.2         FLUX.3         FLUX.4  \
count  570.000000     570.000000     570.000000     570.000000     570.000000
mean     1.008772     515.411351     738.046404     532.603246     739.618088
std      0.093329   12592.950138   12622.940170   12545.065255   12591.933126
min      1.000000  -59421.000000  -14663.430000  -56580.000000  -10817.590000
25%      1.000000     -22.230000     -22.912500     -22.985000     -18.662500
50%      1.000000       1.195000       0.410000      -1.125000      -0.880000
75%      1.000000      98.317500      89.710000      89.827500      73.257500
max      2.000000  290882.500000  290653.500000  290554.000000  290486.500000

              FLUX.5         FLUX.6         FLUX.7         FLUX.8  \
count     570.000000     570.000000     570.000000     570.000000
mean      530.949807     729.591491     517.421404     720.723544
std     12512.976544   12572.187328   12454.094432   12525.496793
min    -54545.000000   -7744.500000  -53580.000000   -6373.400000
25%       -20.980000     -21.245000     -22.675000     -22.200000
50%        -1.495000      -2.650000      -4.330000      -3.910000
75%        66.947500      45.147500      38.850000      37.150000
max    290289.000000  289982.500000  289197.500000  288520.500000

              FLUX.9  ...      FLUX.3188      FLUX.3189      FLUX.3190  \
count     570.000000  ...     570.000000     570.000000     570.000000
mean      481.015211  ...      60.027754     307.682825      88.976842
std     12397.610716  ...    9528.594808    9588.586341    9497.373179
min    -53832.000000  ...  -89126.500000  -89432.070000  -89759.940000
25%       -22.685000  ...      -9.602500     -12.842500     -15.222500
50%        -3.890000  ...       3.585000       3.795000       4.785000
75%        30.670000  ...      23.445000      20.472500      25.582500
max    287404.500000  ...  198420.000000  197888.500000  199639.000000

           FLUX.3191      FLUX.3192      FLUX.3193      FLUX.3194  \
count     570.000000     570.000000     570.000000     570.000000
mean      301.299895     105.121684     291.509561     256.656789
std      9611.024800    9611.076529    9654.581767    9362.719825
min    -90182.630000  -90225.760000  -90595.000000  -86719.070000
25%       -14.350000     -17.370000     -18.272500     -24.000000
50%         3.910000       5.575000       7.150000      -4.385000
75%        28.767500      27.455000      35.810000      17.755000
max    202007.000000  203730.500000  205924.000000  203193.000000

           FLUX.3195      FLUX.3196      FLUX.3197
count     570.000000     570.000000     570.000000
mean      121.810035     224.806035     133.954544
std      9487.642217    9483.948248    9700.731923
min    -86911.500000  -87123.260000  -87476.940000
25%       -27.360000     -36.855000     -29.475000
50%        -4.995000      -5.135000      -3.785000
75%        11.745000      12.265000      13.205000
max    205050.000000  206884.500000  211488.500000

[8 rows x 3198 columns]

We can see the we have the data for 5087 different stars, each with 3198 different light intensity measurements.

No NaN values at all.

Flux values can range from -2e6 to 4e6.

Now we can begin trying out different learning methods.

## Decision tree classifier

In [18]:
from sklearn.tree import DecisionTreeClassifier

dtc_x_train = df_train.loc[:, df_train.columns != 'LABEL'].copy()
dtc_y_train = df_train.loc[:, 'LABEL']

dtc = DecisionTreeClassifier(max_depth = 3)
dtc.fit(dtc_x_train, dtc_y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [20]:
from sklearn.metrics import accuracy_score

dtc_x_test = df_test.loc[:, df_test.columns != 'LABEL']
dtc_y_test = df_test.loc[:, 'LABEL']

dtc_y_pred = dtc.predict(dtc_x_test)
accuracy_score(dtc_y_test, dtc_y_pred)

0.9912280701754386